
       /**background:#f2f2f2;**/

.slider{
	position: relative;
	top:0;
	left:0;
	padding:5px;
	width:100%;
	/**height:690px;**/
	margin-top: 0px;
    display: flex;
    justify-content:center;
}
.images {
	border-radius: 10px;
	width:270px;
	max-width: 270px;
	position:relative;
	
	
}
.images>div>img{
	opacity:0.7;
}
.images>div>img:hover{
	opacity:1;
	-webkit-transition: .2s all linear;
-moz-transition: .2s all linear;
-o-transition: .2s all linear;
transition: .2s all linear;
}
.images>div:first-child{
	padding-bottom: 4em;
}

.inner-slider{
	position:relative;
	width:1000px;
	max-width: 1000px;	
	margin:0 2em 0 2em;	
}
.slide{
	position:absolute;
	top:0;
	left:0;	
	text-align: center;
	
	
}
.slide>img{
    width: 1000px;
    height: 100%;



}
.right{
	
	position: absolute;
	top: 40%;
	right: 20px;
	z-index: 5;
}
.left{
	z-index: 5;
	position: absolute;
	top: 40%;
	left: 20px;
}

.arrows img{
	height: 32px;
}

h1{
text-align: center;
padding: 10px;
font-size: 40px;
color: #222;
}
 
.slide.ng-hide-add, .slide.ng-hide-remove {

}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}


@media screen and (max-width: 667px){ 
.images{
	visibility:hidden;
}
}