    <div class="container-fluid breadcrumb">
        <div class="row">
            <div class="col-xs-12" style="position:relative;">
           
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">Store</li>
                </ol>
                 
            </div>
        

        </div>
      </div>
       
        <div class="col-lg-12 text-center shop-title-store">
                <h1 class="section-title">FEATURED <span>PRODUCTS</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
        <div class="col-lg-12">
          <div class="content-store">
                <!--Filter Animation Product-->
               <div class="group filter-button-top">
			        <ul class="filter group albumFilter"> 
				        <li ng-click="store.myFilter ()" class="active">ALL</li> 
				        <li ng-click="store.myFilter('category', 'motorola')" >MOTOROLA</li> 
				        <li ng-click="store.myFilter('category', 'samsung')" >SAMSUNG</li> 
				        <li ng-click="store.myFilter('category','apple')" >APPLE</li> 
				        <li ng-click="store.myFilter ('category', 'dell')" >DELL</li> 
			        </ul> 
	            </div>
                
                    <div class="content-search">
                           <input type="text" ng-model="store.query"   ng-change="store.search('name')" class="search-query" placeholder="Search">
                        </div>
                </div>
        </div> 
            <!--List Product-->
            <div id="cbp-vm" class="shop-prod" style="z-index:999;">
                        <ul id="product" class="nav-pills nav-stacked rectangle-list">
                            <li class="col-md-4 my-shop-animation" ng-repeat='product in store.pagedItems[store.currentPage]'  >
                                <div class="shop-img {{product.class}}">
                                    <img ng-src="{{product.imageUrl}}" alt="{{product.name}}" />                                  
                                </div>
                                <span class="number-prodsingle-cart" ng-show="cart.getTotalCount(product.code) > 0">N&#176; {{cart.getTotalCount(product.code)}}</span>
                                <!--Triangle Sale-->
                                <span class="onsale-prod" ng-show='product.discount != null'>
                                    <span>{{product.discount}}</span>
                                </span>
                                <!--End-->
                                <div class="col-lg-12 col-md-12 bt12-detail-shop">
                                    <div class="bt-detail-shop">
                                        <a class="title" href=""> {{product.name}}  </a>
                                        <p class="shop-price"> {{product.price | currency : "$"}} </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 bt-content-shop">
                                    <a class="btn pull-left"   ng-click="cart.addItem(product.code, product.name, product.src, product.price, 1)">
                                       <i class="fa fa-shopping-cart"></i> Add to Cart
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 bt-content-shop">
                                    <a class="btn pull-right" ui-sref=".details({id:product.id})" ><i class="fa fa-list"></i>Details</a>
                                </div>
                                <div class="clear"></div>
                          </li> 
                      </ul>  
                      <!--Pagination-->
                      <div class="col-md-12 store-cart-content">
                        <div class="store-cart-footer store-down-bottom">
                                     <ul>
                                       <li>
                                         <input type="button" value="Previous" class="btn " ng-disabled="store.currentPage == 0" ng-model="store.update" ng-click="store.currentPage=store.currentPage-1">
                                            
                                        </input>
                                       </li>
                                       <li>
                                        <p class="number-page">{{currentPage + 1}}/{{store.numberOfPages}}</p>
                                       </li>
                                       <li>
                                        <input type="button" value="Next" class="btn" ng-disabled="store.currentPage+1 >=store.numberOfPages"   ng-model="store.update" ng-click="store.currentPage=store.currentPage+1">
                                           
                                
                                    
                                    
                                        </input>
                                       </li>
                                    </ul>
                          </div>
                    </div>                   
                </div>
    </div>

    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/clients/barkley.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/clients/guzzy.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/clients/actived.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/clients/codeca.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/clients/bullos.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/clients/violago.jpg">
        </div>

    </div>


<!-- /.container -->

<!-- Filter Images-->
<script type="text/javascript">
    $('.filter li').on('click', function () {
        $('li').removeClass('active');
        $(this).addClass('active');
    });
</script>