<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>

    </div>
<span class="content-count-cart-header dropdown pull-right  " ng-controller="storeController" style="position:relative;vertical-align:top;">
                    <a title="go to shopping cart" class="dropdown-toggle" data-toggle="dropdown" ng-disabled="cart.getTotalCount() < 1">
                        <i class="fa fa-shopping-cart"></i>
                        <p class="number-prod-cart">{{cart.getTotalCount()}}</p> 
                    </a>
                     <div class="dropdown-menu  vertical-li dropdown-prod-cart dropdown-menu" style="position:absolute;right:3em;top:0;">
                    
                          <ul>
                           <li ng-repeat="item in cart.items | orderBy:'name'">
                            <div class="col-md-12 minitotal-prod">
                                 <div class="col-md-6 minicart-img" ng-show='item.src != null'> 
                                    <img src="{{item.src}}" alt="{{item.name}}" />
                                 </div>
                                 
                                 <div class="col-md-6 minicart-data"><p class="mc-name">{{item.name}}</p>
                                  <p>{{item.quantity}} X {{item.price | currency}}</p>
                                 </div>
                            </div>
                           </li>
                          </ul>
                          <div class="separator"></div>
                          <div id="cartInfo"><p class="minucart-price">Subtotal {{cart.getTotalPrice() | currency}}</p></div>
                          <a ui-sref="home.cart" id="goToCheckOut">Proceed to purchase</a>
                    </div> 
            </span> 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">HOME <span class="sr-only">(current)</span></a></li>
        <li><a href="#">SERVICES</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav">
        <li><a href="#">CONTACT US</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        
        
        
      </ul>
    </div><!-- /.navbar-collapse -->
      
  </div><!-- /.container-fluid -->
</nav>